<!-- 
{% load static %}


<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}">
</head>
<body> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}"> -->

<style>
.center {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}">
    <link rel="icon" href="{% static 'feed/favicon.ico' %}" type="image/x-icon"> 
    <title>Your Dashboard</title>
</head>



<body>

    <div id="green-dot" class ="greendot"></div>
    <div id="red-dot" class ="reddot"></div>
    <div class="wave"></div></div>
    <div class="wave2"></div></div>


    {% load static %}
    <center><img src="{% static 'feed/wavegoogle.png' %}" alt="My image" width="20%" height="10%"><br><br/>


    <div class = "text" id="query" style="font-size:48pt;font-family:Roboto;"></div>

    <div class = "text" id="response" style="font-size:24pt;font-family:Roboto"></div>
    <br></br>


    <!-- <center><textarea style="font-size:36pt;font-family:Avenir" id="chat-log" cols="20" rows="1"></textarea><br/> -->
   <!--  <center><h1><span>hi welcome back!</span></h1> -->
    <textarea style="font-size:12pt;font-family:Roboto" id="chat-log" cols="60" rows="20"></textarea><br/>
<!--     <poop><textarea style="font-size:10pt;font-family:Avenir" id="chat-log2" cols="50" rows="30"></textarea><br/>
 -->
    <p style="font-size:10;font-family:Roboto";></p><br><center>
    <input  id="chat-message-input" type="text" size="100"/><br/>
    <p style="font-size:10;font-family:Roboto";></p><br><center>
    <input id="chat-message-submit" type="button" size="20" value="help me google"/>
    <p style="font-size:10;font-family:Roboto";></p><center>
    <input id="show-chat" type="button" size="20" value="toggle chat log"/>

    </center>
</body>
<script>
    var lastQuery = "Don't be shy. Wave to say hi!";
    var lastResponse = "...";
    var isListening = false;


    document.getElementById("query").innerHTML = lastQuery;
    document.getElementById("response").innerHTML = lastResponse;





    var roomName = "{{ room_name|escapejs }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/feed/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);

        var message = data['message'];

        if (message == "Ok Google") {
            isListening = true;
        }

        if (message == "Stop") {
            isListening = false;
        }

        if (isListening) {
            document.getElementById('red-dot').style.display = "none";
            document.getElementById('green-dot').style.display = "";
        } else {
            document.getElementById('green-dot').style.display = "none";
            document.getElementById('red-dot').style.display = "";
        }

        var query = data['query'];
    
        if (query == true) {
            if (message != "") {
                if (message == "Ok Google") {
                lastQuery = "What would you like to know?"
                lastResponse = "..."
                } else if (message == "Stop") {
                    var lastQuery = "Don't be shy. Wave to say hi!";
                    var lastResponse = "...";
                } else {
                    document.querySelector('#chat-log').value += (" 🤔: " + message + '\n');
                    lastQuery = 'You just asked: "' + message +'"'
                    lastResponse = "..."
                }
            }
        }
        else { 
            document.querySelector('#chat-log').value += (" 🏠: " + message + '\n');
            lastResponse = 'And we said: "' + message + '"'
        }

        document.getElementById("query").innerHTML = lastQuery;
        document.getElementById("response").innerHTML = lastResponse;



    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };


    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'query': true
        }));

        messageInputDom.value = '';
    };

    // var visible = true;
    // document.getElementById("chat-log").style.visibility="visi";

    document.getElementById('chat-log').style.display = "none";

    document.querySelector('#show-chat').onclick = function(e) {
        var showhide=document.getElementById('chat-log');

        showhide.style.display = showhide.style.display === "none" ? 
            "block" : 
            "none";  

        var showhide2=document.getElementById('query');
        var showhide3 =document.getElementById('response');

        showhide2.style.display = showhide2.style.display === "none" ? 
            "block" : 
            "none";  

        showhide3.style.display = showhide3.style.display === "none" ? 
            "block" : 
            "none";  


        // document.getElementById("response").innerHTML = "Chat history!";

            
        // else:
        //     document.getElementById("chat-log").style.visibility="visible";
        //     visible = true;
  
    };

</script>
</html>
